<div style="width:100%; height:100%; background: #ffffff; padding:30px; position:relative; z-index:10;" id="fieldGenerator">
    <h2><?= e(trans('base33.extendedbuilder::lang.plugin.name')) ?></h2><hr/>
    <h4><?= e(trans('base33.extendedbuilder::lang.plugin.extended_description')) ?></h4>
    
    <h3><?= e(trans('base33.extendedbuilder::lang.plugin.use')) ?></h3><hr/>
    <div><?= trans('base33.extendedbuilder::lang.plugin.use_description') ?></div>
</div>